<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	
	<!-- Required for logback to create a temp file before bootup -->
	<property name="LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/temp}}}" />

	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<!-- Rolling file appender -->
	<appender name="SAVE-TO-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- Path to store the file -->
		<!-- <file>${LOG_PATH}/trio/trio-customer-service.log</file> -->
		<file>${LOG_FILE}.log</file>
		
		<!-- Encoding pattern -->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
			</Pattern>
		</encoder>

		<!-- Rolling the log file -->
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/archived-logs/trio-customer-service_%d{dd-MM-yyyy}_%i.log
			</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>10</maxHistory>
			<totalSizeCap>100MB</totalSizeCap>
		</rollingPolicy>
	</appender>
	
	<!-- Asynchronous appender -->
	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="SAVE-TO-FILE" />
	</appender>

	<!-- Configuration for STDOUT and SAVE-TO-FILE for DEV -->
    <springProfile name="dev">
        <root level="info">
            <!-- <appender-ref ref="STDOUT" /> -->
            <appender-ref ref="ASYNC" />
        </root>
        <!-- Enable debug log in services package -->
        <logger name="com.trio.customerservice" additivity="false" level="debug">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="ASYNC" />
        </logger>
    </springProfile>
    
    <!-- Configuration for STDOUT and SAVE-TO-FILE for PROD -->
    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="ASYNC" />
        </root>
        <!-- Enable debug log in services package -->
        <logger name="com.trio.customerservice" additivity="false" level="error">
            <appender-ref ref="ASYNC" />
        </logger>
    </springProfile>

</configuration>